header, main, aside, article, footer {
	display: block;
}
body {
	margin: 20px;
	background-color: #444444;
}
header {
 	min-height: 300px;
 	background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f6/Swiss_National_Park_131.JPG");
 	background-position: center;
	background-size: cover;
}

h1 {
	color: #fff;
    text-transform: uppercase;
	text-align: left;
    padding-top: 250px;
    padding-left: 20px;
    display: inline-block;    
}

main {
	margin: 0;
	padding: 0;
}

main aside nav ul {
  list-style-type: none;
  padding: 5px;
  display: inline;
}

main aside nav ul li {
  display: inline-block;
  padding-bottom: 15px;  
}

main aside nav ul li a {
	text-decoration: none;
	color: #9a9a9a;
	padding: 10px;
	display: inline-block;
    font-size: 14px;
	text-transform: uppercase;
}      

article {
	background-color: #eeeeee;
	padding: 10px 20px;
}

h2 {
	color: #86b300;
	display: inline-block;
	margin: 0;
    padding-bottom: 0;
}

footer {
	background-color: #444444;
	text-align: left;
	color: #9a9a9a;
}

footer span:after {
	content: " © 2005 | All Rights Reserved";
}